In [1]:
#Importing relevant libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import requests

In [2]:
data1 = pd.read_excel("DATA1.xlsx")
data1.head()

                     Company.Name             Address        City Postcode
0                    Carsten Helm         Ulmenstr. 8      Wismar    23966
1  Zirpel & Pautzsch Ingenieur Pa    Paditzer Str. 33   Altenburg     4600
2                 Eberhard Zessin   Steingartenweg 12  Heidelberg    69118
3                    Gerold Fuchs         MÃ¼hlweg 12   Dietingen    78661
4                 Rudi Biedritzky  Zaisentalstr. 70/1  Reutlingen    72760

In [3]:
data2 = pd.read_excel("DATA2.xlsx")
data2.head()

,Address,Postal.Code,Location
0,Alfons-MÃ¼ller-Platz,50389,Wesseling
1,Hauptstr. 10B,66459,Kirkel
2,Edisonstr. 36,4435,Schkeuditz
3,Kutterstr. 3 / 26386 Wilhelmshaven-RÃ¼stersiel,26386,Wilhelmshaven
4,Am neuen Markt 8,66877,Ramstein-Miesenbach

In [4]:
# Rename Columns
data2.rename(columns={'Postal.Code':'Postcode', 'Location':'City'}, inplace=True)

In [5]:
#function to index Address. Locator function
def getAddress(address, location):
    url = f'https://google.com/search?q={address}+{location}'
    results = requests.get(url)
    soup = bs(results.text, "html.parser")
    return soup.find("div", class_='BNeawe').text

In [6]:
for point in range(len(data2)): 
    address =data2.loc[point, 'Address']
    loca = data2.loc[point, 'City']
    data2.loc[point, 'new_address'] = getAddress(address, loca)

In [7]:
data2.head()

,Address,Postcode,City,new_address
0,Alfons-MÃ¼ller-Platz,50389,Wesseling,Alfons-Müller-Platz
1,Hauptstr. 10B,66459,Kirkel,Hauptstraße 10B
2,Edisonstr. 36,4435,Schkeuditz,Edisonstraße 36
3,Kutterstr. 3 / 26386 Wilhelmshaven-RÃ¼stersiel,26386,Wilhelmshaven,[PDF] GEWERBEZENTRUM Wilhelmshaven Kutterstraß...
4,Am neuen Markt 8,66877,Ramstein-Miesenbach,Am Neuen Markt 8

In [ ]:
for point in range(len(data1)): 
    address =data1.loc[point, 'Address']
    loca = data1.loc[point, 'City']
    data1.loc[point, 'new_address'] = getAddress(address, loca)

In [ ]:
data1.head()

In [ ]:
len(data1.new_address.unique())

In [ ]:
len(data2.new_address.unique())

In [39]:
# Combine two Data Frames using Pandas Merge
data = data1['Company.Name', 'new_address'].merge(data2, on=['new_address'], how='left')

In [40]:
data.sample(10)

,Company.Name,Address_x,City_x,Postcode,Address_y,City_y
0,Matthias Essers GmbH Elektrote,Leopold-Hoesch-Str. 4,Geilenkirchen,52511,Camphausenweg 8,Geilenkirchen
1,Dany Molz,Herzog-Wilhelm-Str. 67,Geilenkirchen,52511,Camphausenweg 8,Geilenkirchen
2,Poelzig Architekten GmbH,Menzelstr. 56,Duisburg,47053,Bungertstr. 27,Duisburg
3,Plauen,8527,NaN,NaN,BahnhofstraÃŸe 22,Mitterteich
4,Plauen,8527,NaN,NaN,RheinstraÃŸe 1,Dornburg
...,...,...,...,...,...,...
957,Ulrich HÃ¼hn,Franziusallee 127,Kiel,24148,Benzstr. 10,Kiel
958,Reinhard Pater,Zamenhof 12,Arnsberg,59757,Raiffeisenstr. 8,Arnsberg
959,Dieter Weber,Dorfstr. 12,Schkeuditz,4435,Edisonstr. 36,Schkeuditz
960,SolarHelden GmbH,Thann 2,Aschau a. Inn,84544,Zeppelin-Str. 32,Aschau
961,Stadt Taucha,SchloÃŸstr. 13,Taucha,4425,SchloÃŸstr. 13,Taucha

In [ ]:
data.to_excel()